
<header>
    <h1>El Camino del Developer</h1>
    <p>
        Bienvenido a mi portafolio. Soy un apasionado programador junior en constante crecimiento y 
        aprendizaje dentro del mundo de la programación. Este espacio muestra una selección de proyectos 
        que reflejan mis habilidades, creatividad y dedicación para ofrecer soluciones de alta calidad. 
        Con atención al detalle y el deseo de aprender y evolucionar constantemente, aspiro a generar un impacto significativo en la 
        industria tecnológica. Explora mi trabajo y acompáñame en esta emocionante aventura en el mundo de la programación.
    </p>
    <div>
        <button>
            ¿Quien soy?
        </button>
        <button>
            Mi cv
        </button>
    </div>
</header>

<main>
    <section>
        <h2>Sección 1 - Contenido Relevante para SEO</h2>
        <p>Contenido importante relacionado con esta sección.</p>
    </section>

    <section>
        <h2>Sección 2 - Contenido Relevante para SEO</h2>
        <p>Contenido importante relacionado con esta sección.</p>
    </section>
</main>

<footer>
    <p>&copy; 2023 Tu Página Web | <a href="mailto:info@example.com">info@example.com</a></p>
</footer>