<div class="content">
  <header>
    <div>
      <h1>
        El Camino <br />
        del Developer
      </h1>
      <p>
        Bienvenido a mi portafolio. <br />
        Explora mi trabajo y acompáñame en esta emocionante aventura en el mundo
        de la programación.
      </p>
    </div>

    <div>
      <button>¿Quien soy?</button>
      <button>Mi cv</button>
    </div>
  </header>

  <main>
    <section>
      <h2>Angular</h2>
      <img src="../../../assets/img/icons/angular.png" width="150px">
    </section>
    <section>
      <h2>Sass</h2>
      <img src="../../../assets/img/icons/sass.png" width="150px">
    </section>
    <section>
      <h2>Typscript</h2>
      <img src="../../../assets/img/icons/typescript.png" width="150px">
    </section>
    <section>
      <h2>Tailwind CSS</h2>
      <img src="../../../assets/img/icons/tailwind.png" width="150px">
    </section>
    <section>
        <h2>Bootstrap</h2>
        <img src="../../../assets/img/icons/bootstrap.png" width="150px">
      </section>
    <section>
      <h2>Mongo DB</h2>
      <img src="../../../assets/img/icons/mongo.png" width="150px">
    </section>
  </main>
</div>
